*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
div[id]{
    scroll-margin-top: 60px;
}
li, h2, h3, h1, p, h4, a{
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}
li, h2,h1,h3,h4,img{
    user-select: none;
}
h4{
    color: #fff;
}
#check{
    display: none;
}
.hr-inicio {border: 0; 
    height: 12px; 
    box-shadow: inset 0px 12px 12px -12px orange;
}
.contenedor-logo{
    display: flex;
    align-items: center;
    color: white;
    width: 64px;
    height: 50px;
    overflow: hidden;
    transition: all 0.8s;
    font-size: 1px;
    text-align: unset;
}
.contenedor-logo:hover{
    width: 50%;
    font-size: 20px;
}   
.container-img-logo{
    margin-right: 40px;
}
.container-principal{
    background-image: url(./Imagenes/FondoPrincipal.png);
    background-repeat: no-repeat;
    background-attachment: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.61);
    position:fixed;
    width: 100%;
    z-index:999;
}
.logo-gracias{
    margin-left: 1px;
    height: 50px;
}
.lista-container{
    margin-right: 50px;
}
.lista-container li{
    display: inline-block;
    margin: 0px 15px;
}
.lista-container li a{
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}
.lista-container li a:hover{
    padding: 5px 10px;
    color: black;
    background-color: #fff;
    border-radius: 20px;
}
.home-container{
    background-color: rgba(0, 0, 0, 0.61);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.descripcion-container h2{
    font-size: 30px;
}
.descripcion-container h1{
    font-size: 50px;
    color: yellow
}
.foto-perfil{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-right: 40px;
}
.about-container{
    /* background-color: #fff; */
    height: 100vh;
    display: flex;
}
.amarillo{
    background-color: rgba(240, 240, 240, 0.89);
    width: 50%;
    padding: 30px;
}
.amarillo h1 {
    margin-bottom: 60px;
}
.container-botonDescargarCv{
    display: none;
}
.amarillo h2{
    font-size: 40px;
    color: rgb(0, 0, 0);
    background: rgb(250, 217, 0);
    border-radius: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 55px 20px;
}
.experiencia{
    margin: 20px 0px!important;
}
.amarillo p{
    /* width: 80vh; */
    line-height: 50px;
}
.blanco{
    width: 50%;
    background: rgba(250, 217, 0, 0.904);
}
.blanco h2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descargar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 30px;
    width: 200px;
    transition: all 0.3s;
    padding: 24px;
    border-radius: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
}
.botonCV{
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonCV a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descargar:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition-duration: 0.6s;
    color:white;
}
.curriculum-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 20px;
}
.curriculum-img{
    height: 50%;
    width: 50%;
}
.skill{
    margin: 20px;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-wrap: wrap;
}
.skill{
    transition:  0.4s;
}
.skill img{

    transition: all 0.4s;
}
.skill img:hover{
    padding: 0px 15px;
}
.skill-container{
    background: rgba(0, 0, 0, 0.61);
    align-items: center;
    padding: 30px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-container h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 2px rgba(255, 255, 0, 0.164);
    margin-bottom: 70px;
}
.proyectos-container{
    width:100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.61);
}
.contenedor-principal-proyectos{
    padding: 130px 0px 0px 0px;
    height: 100%;
    width: 100%;
}
.contenedor-primeros-proyectos{
    display: flex;
    justify-content: space-evenly;
}
.titulo-proyecto{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: 'Teko', sans-serif;
    color:yellow;
    margin: 20px;
}
/*  */
.container{
    height: 200px;
    width: 400px;
    
}
.portfolio__item {
    background: white;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    font-size: 14px;
    border-radius: 10px;
}
.portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 1s;
    border-radius: 10px;
    border: 1px solid white;
} 
.portfolio__description {
    padding: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 300px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 
.portfolio__item:hover .portfolio__description {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    border-radius: 10px;
    transform: translateY(-300px);
} 
.portfolio__item:hover .portfolio__img {
    transition: all 1s;
    border-radius: 10px;
    transform: scale(1.3);
}  
.portfolio__description--title {
    color: #fff;
} 
.portfolio__description--text {
    margin: 20px 0;
    color: #fff;
}
.buttons__container {
    display: flex;
    border-radius: 10px;
}
.button {
    background: #191919;
    color: #f5f5f5;
    padding: 5px 10px;
    display: inline-block;
    margin: auto;
}
.button:hover {
    color: rgb(255, 251, 11);
}
.button--cta {

    background: var(--blue);
    color: var(--white);
    padding: 5px 30px;
    display: inline-block;
    align-self: center;
    margin: 20px auto;
    font: bold;
    border-radius: 5px;
}
.button--cta i {
    margin-right: 10px;
}
.button--cta:hover {
    background: var(--grey);
    color: white;
}
.button .fa-github:before {
    color: white;
}
/*  */
.hr-final{
    border: 0; height: 0; box-shadow: 0 1px 5px 1px rgb(255, 251, 11);
}
.formulario-contacto{
    width:100%;
    background: rgba(0, 0, 0, 0.61);
}
.formulario-contacto h1{
    display:flex;
    justify-content: center;
    padding: 10px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 2px rgba(255, 255, 0, 0.164);
    padding-top: 60px;
}
.formulario-contacto p{
    color: #fff;
    display: flex;
    justify-content: center;
}
.container-contacto{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px;
}
.container-contacto h4{
    display: flex;
    justify-content: center;
}
.container-contacto div{
    background-color: #fbff0000;
    transition: all 0.4s;
    border-radius: 20%;
}
.container-contacto div:hover{
    padding: 10px;
    background-color: #ffffffda;
}
.container-contacto div:hover > h4{
    color: black;
}
/*  */
.footer {
    background-color: rgba(245, 245, 245, 0.911);
    padding: 30px;
    text-align: center;
    font-size: 14px;
}
.footer a{
    color: black;
}
.footer a:hover {
    color: blue;
}
.lista-container-cel{
    display: none;
}
.menu-desplegable{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    position: fixed;
    /* background-size: cover; */
    z-index:999;
    display: flex;
}
/* Notas para media querry */
/* Se tiene solo en cuenta con una pantalla de 100% ni mas ni menos */
/* Pantalla por defecto 1920 x 1080  */


@media (min-width: 3000px){
    .lista-container{
        margin-right: 20px;
   } 
   .lista-container li{
        margin: 0px 40px;
    } 
    .lista-container li a{
        font-size: 40px;
    } 
    .logo-gracias{
        height: 75px;
        margin-left: 30px;
    }
    .container-img-logo{
        margin-right: 80px;
    }
    .contenedor-logo{
        width: 130px;
        height: 80px;
    }
    .foto-perfil{
        height: 600px;
        width: 600px;
    }
    .descripcion-container h2{
        font-size: 60px;
    }
    .descripcion-container h1{
        font-size: 100px;
    }
    .amarillo{
        padding: 60px;
    }
    .amarillo h1 {
        margin-bottom: 120px;
        font-size: 120px;
    }
    .amarillo h2{
        font-size: 80px;
    }
    .amarillo p{
        /* width: 80vh; */
        line-height: 90px;
        font-size: 40px;
    }
    .experiencia{
        margin: 90px 0px!important;
    }
    .blanco h2{
        font-size: 80px;
        padding: 100px 0px;
    }
    .botonCV{
        padding: 64px;

    }
    .descargar{
        height: 90px;
        width: 550px;
        font-size: 40px;
    }
    .skill-container h1{
        font-size: 150px;
    }
    .skill{
        margin: 40px;
    }
    .skill img{
        width: 150px;
        height: 150px;
    }
    .skill h4{
        font-size: 40px;
    }
    .skill img:hover{
        padding: 10px 10px;
    }
    /*  */
    .container{
        width: 900px;
        height: 500px;
    }
    .portfolio__description--title {
        font-size: 60px;
    }
    .portfolio__description--text {
        margin: 20px 0;
        font-size: 35px;
    }
    .button {
        padding: 10px 20px;
        margin-top: 60px;
        font-size: 35px;
    }
    /*  */
    .titulo-proyecto{
        font-size: 200px;
        margin: 100px;
    }
    .contenedor-principal-proyectos{
        padding-top: 330px;
        height: 100%;
        width: 100%;
    }
    .formulario-contacto h1{
        font-size: 150px;
    }
    .formulario-contacto p{
        font-size: 50px;
    }
    .container-contacto h4{
        font-size: 50px;
    }
    .container-contacto img{
        /* height: 70%; */
        width: 150px;

    }
    .container-contacto a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-contacto div:hover{
        padding: 20px;
        background-color: #ffffffda;
    }
    .footer {
        background-color: rgba(245, 245, 245, 0.911);
        padding: 30px;
        text-align: center;
        font-size: 34px;
    }
}
@media (max-width: 1360px) {
    .container-experiencia{
        display: none;
    }
    .contenedor-principal-proyectos{
        padding: 0px
    }
    .amarillo h2{
        margin: 10px;
    }
    .blanco{
        padding-top: 30px;
    }
    .curriculum-container img{
        height: 37%;
        width: 37%;
    }
    .skill-container h1{
        margin: 0px;
    }
}
@media (max-width: 1280px){

    .skill{
        height: 50%;
        width: 13%;
    }
    .principal-skill{
        width: 100%;
        height: 150%;
    }
    .skill-container{
        height: 100%;
    }
    .skill img{
        transition: all 0.5s;
    }
    .skill img:hover{
        padding-left: 40px;
    }
    .curriculum-container img{
        height: 47%;
        width: 47%;
    }
    .proyectos-container{
        padding-top: 90px;
    }
    .hr-inicio{
        margin-top: 60px;
    }
}
@media (max-width: 767px){

   .lista-container{
        margin-right: 0px;
   } 
   .lista-container li{
        margin: 0px 10px;
    } 
   .lista-container li a{
        font-size: 12px;
    } 
    .logo-gracias{
        height: 35px;
    }
    .contenedor-logo:hover{
        font-size: 10px;
    }
    .foto-perfil{
        height: 200px;
        width: 200px;
    }
    .descripcion-container h2{
        font-size: 15px;
    }
    .descripcion-container h1{
        font-size: 30px;
    }
    .amarillo h1{
        margin-bottom: 20px;
    }
    .amarillo h2{
        font-size: 20px;
    }
    .amarillo p{
        line-height: 23px;
        font-size: 12px;
    }
    .blanco h2{
        padding-top: 10px;
        font-size: 15px;
    }
    .descargar{
        /* height: 16px; */
        width: 150px;
        font-size: 11px;
    }
    .skill-container h1{
        font-size: 35px;
    }
    .skill{
        width: 49px;
        height: 49px;
        margin: 22px;
    }
    .skill h4{
        font-size: 10px;
    }
    .skill img{
        width: 100%;
        height: 100%;
    }
    .skill img:hover{
        padding: 10px 10px;
    }
    .contenedor-principal-proyectos{
        padding-top: 0px ;
    }
    .proyectos-container{
        padding-top: 50px;
    }
    .titulo-proyecto{
        font-size: 60px;
    }
    
    /*  */
    .container{
        height: 100px;
        width: 200px;
    }
    .portfolio__description--title {
        font-size: 10px;
    }
    .portfolio__description--text {
        margin: 5px 0;
        font-size: 9px;
    }
    .portfolio__description {
        padding: 10px;
    }
    .buttons__container {
        margin-top: 10px;
    }
    .button {
        padding: 5px 10px;
        /* height: 20px;
        width: 30px; */
        font-size: 8px;
    }
    /*  */
    .formulario-contacto h1{
        font-size: 30px;
    }
    .formulario-contacto p{
        font-size: 13px;
    }
    .container-contacto h4{
        font-size: 10px;
    }
    .container-contacto img{
        width: 40px;
    }
    .footer {
        background-color: rgba(245, 245, 245, 0.911);
        padding: 10px;
        font-size: 10px;
    }
}
@media (max-width: 576px){
    .lista-container-cel{
        display: block;
        margin-right: 20px;
    }
    .lista-container{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.61);
        top: 60px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
    }
    .lista-container li{
        display: block;
        margin: 30px 0px;
        line-height: 20px;
    }
    .lista-container li a{
        font-size: 24px;
    }
    #check:checked  ~ .lista-container{
        left: 0;
    }
    


    .contenedor-logo h1{
        font-size: 8px;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .foto-perfil{
        margin: 10px 0px;
    }
    .about-container{
        height: 80vh;
    }
    .amarillo{
        width: 100%;
        height: 80vh;
    }
    .container-experiencia{
        display: block;
    }
    .blanco{
        display: none;
    }
    .container-botonDescargarCv{
        display: block;
    }
    .botonCV{
        padding-top: 10px;
        display: flex;
        justify-content: flex-start;
    }
    .titulo2{
        margin-top: 20px;
    }
    .descargar{
        background-color: rgba(250, 217, 0, 0.425);
        height: 25px;
        width: 180px;
    }
    .proyectos-container{
        padding: 0px;
    }
    .contenedor-principal-proyectos{
        padding: 10px 0px 0px 0px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container{
        margin: 20px 0px;
    }
    .titulo-proyecto{
        order: -1;
        margin: 0px;
    }
    .contenedor-primeros-proyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media (max-width: 400px) {
    .about-container{
        height: 100vh;
    }
    .amarillo{
        width: 100%;
        height: 100vh;
    }
    .amarillo h2{
        font-size: 15px;
    }
    .amarillo p{
        font-size: 10px;
    }
    .container-botonDescargarCv h3{
        font-size: 15px;
    }
}
@media (max-height: 750px){
    .about-container{
        height: 100vh;
    }
    .amarillo{
        height: 100vh;
    }
}
